*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 600px;
}

body {
    font-family: 'Fira Code', sans-serif;  
    background-color: #fedece; 
    color: #fd9f96;
}

.section-title {
    font-size: 3rem;
    padding: 8px;
    font-family: 'Dancing Script', cursive;
    color: #fd9f96;
}

/*nav bar style start*/
nav {
    height: 30%;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
}

.nav-bar li {
       list-style: none;
       height: 100%;
       margin: 5px;
}

#home {
    color: #B0CCC0;
    font-size: 3em;
    margin: 0 5px;
    justify-self: flex-start;
    flex-grow: 1;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: flex-end;
    color: #B0CCC0;
    font-size: 3em;
    flex-grow: 1;
    margin-left: 1em;
}

/*hero style start*/
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.3rem;
    width: 100%;
    text-align: center;
}

.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: url(./img/Hero-Mobile.png);
    background-repeat: no-repeat;
    background-size: cover;   
    align-items: center;
    z-index: -2;min-height: 150px;
}

.hero-items {
    font-size: x-large;
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
    color: #4c947c;
}

.hero-items p {
    content: "";
    margin-bottom: 0.2em;
}

/*button style start*/
#hero-button {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Fira Code', sans serif;
    color: #4c947c;
    padding: 6px 8px 6px;
    outline: 0;
    border: 2px solid #4c947c;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }

  #hero-button::after {
    content: "";
    background-color: #B0CCC0;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.4s;
  }
  
  #hero-button:hover::after {
    top: 0px;
    left: 0px;
  }
  
/*hero style end*/

 /*about me style start*/
 .about-me-section {
    background-color: #B0CCC0;
    float: top;
   
 }

#profile-pic {
    height: 1em;
    width: auto;
}
 /*about me style end*/



 /*media query tablet start*/
@media only screen and (min-device-width: 600px) and (max-device-width:980px) {
 
}
/*media query tablet end*/

/*media query desktop start*/
@media only screen and (min-device-width: 960px) {

}
/*media query desktop end*/